@model IEnumerable<DMTools.Models.Group>

@{
    ViewBag.Title = "Index";
}

<h2>Groups</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GroupId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GroupId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GroupId })
        </td>
    </tr>
}

</table>
<div class="grid-container">
    <div class="grid-header">
        @Html.DisplayNameFor(model => model.GroupName)
    </div>

    @foreach (var item in Model)
    {
        <div class="grid-panel">
            <h3>@Html.DisplayFor(modelItem => item.GroupName)</h3>
            <p>Players:</p>
            @foreach (var player in item.Players)
            {
                <p>@Html.DisplayFor(playerItem => player.Name)</p>
            }
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = item.GroupId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.GroupId })
            </p>    

                
        </div>
    }

</div>
