@model DMTools.Models.Monster

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Monster</h4>
    <hr />
    <dl class="dl-horizontal" style="columns:2;">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxHealth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxHealth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArmorClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArmorClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Speed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChallengeRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChallengeRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLegendary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLegendary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dexterity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dexterity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Constitution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Constitution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intelligence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intelligence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wisdom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wisdom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Charisma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Charisma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Race)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Race)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Species)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Species)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alignment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alignment)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn-btn-default"})
        </div>
    }
</div>
